html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  border: 1px solid red; }

body {
  padding: 50px;
  height: 100%;
  background-color: #f3cc0c;
  font-size: 12pt; }

.container {
  height: 100%; }

fieldset {
  margin-left: auto;
  margin-right: auto; }

input {
  margin: 20px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  letter-spacing: .5em; }

button {
  background-color: red;
  color: white;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 10pt;
  margin-top: 2em;
  float: right;
  border-radius: 50%; }
